@font-face {
  font-family: Quicksand;
  src: url(./fonts/Quicksand-VariableFont_wght.ttf);
}
@font-face {
  font-family: Edmondsans;
  /* src: url(./fonts/EdmondsansRegular_web.ttf); */
  src: url(./fonts/Fonts/hbo\ family.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Quicksand;
  scroll-behavior: smooth;
}
:root {
  --primary-blue: #1662da;
  --primary-green: #14a15f;
  --primary-red: #e83b48;
}
.container {
  max-width: 1565px !important;
}

.container-fluid {
  max-width: 1920px !important;
}
.underline {
  background: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.justify-between {
  justify-content: space-between;
  gap: 20px;
}
.list-group-item {
  border: none !important;
}
.list-group-item span {
  font-weight: 700;
  line-height: 26px;
  text-transform: capitalize;
  color: #a4a4a4;
}

#main-navbar .container {
  background: #1662da;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  height: 74px;
}
.username {
  font-weight: 700;
  font-size: 22px;
  line-height: 20px;
  text-transform: capitalize;
  color: #ffffff;
}

#sidebarMenu li {
  border-radius: 5px;
}
#sidebarMenu li a {
  text-decoration: none;
  margin-left: 29px;
}
/* Sidebar */
.sidebar {
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  /* max-width: 317px; */
}

.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.cat,
.null {
  background: url(./assets/cat-green-bg.png);
}
.dog {
  background: url(./assets/dog-blue-bg.png);
}
.pet-details .wrapper {
  /* width: 100%; */
  /* max-width: 435px; */
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}
/* .card-wrapper {
  max-width: 435px !important;
} */
.pet-details .head h2 {
  font-weight: 700;
  font-size: 18.1333px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  position: relative;
}
.wave {
  position: absolute;
}
.pet-details .head p {
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
}
.small-word {
  font-weight: 500;
  font-size: 10px;
  line-height: 20px;
  text-transform: capitalize;
  color: #000000;
}
.count {
  font-weight: 500;
  font-size: 51px;
  line-height: 66px;
  text-transform: capitalize;
  color: #ffffff;
  opacity: 0.9;
}
.price {
  font-weight: 500;
  font-size: 18.6667px;
  text-transform: capitalize;
  color: #ffffff;
}
.wave {
  position: relative;
  right: -161px;
  bottom: 7px;
}
/* .sales {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  transform: matrix(1, 0, 0, -1, 0, 0);
} */

.booking-count {
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #2f2f2f;
}
.bookings,
.revenue {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.sales .card-container {
  background: #effff8;
  border: 1px solid #3056a2;
  border-radius: 6px;
}
.revenue .card-container {
  background: #c2d7ff;
  border: 1px solid #14a15f;
  border-radius: 6px;
}
.sales .wrapper,
.revenue .wrapper {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 15px;
  flex: 1 !important;
}
.min-h-100 {
  min-height: 100px;
}
.wrapper-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-transform: capitalize;
  white-space: nowrap;
}
.wrapper-count {
  font-weight: 500;
  font-size: 30px;
  line-height: 24px;
  text-transform: capitalize;
  color: #272727;
  opacity: 0.9;
}
.calender {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.flex-1 {
  flex: 1 !important;
}
.lower-head {
  font-weight: 700;
  font-size: 18px;
  text-transform: capitalize;
  color: #2f2f2f;
}
.green-head {
  font-weight: 410;
  font-size: 16px;
  text-transform: capitalize;
  color: #14a15f;
}
.black-head {
  font-style: normal;
  font-weight: 500;
  font-size: 21.6709px;
  text-transform: capitalize;
  color: #000000;
  opacity: 0.9;
}
.gray-text {
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  color: #a5a5a5;
}
.blue-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #3056a2;
}
.black-bold {
  font-weight: 600;
  font-size: 14px;
  text-transform: capitalize;
  color: #000000;
}
.light-head {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-transform: capitalize;
  color: #515151;
}
.thin-text {
  font-weight: 300;
  font-size: 10.186px;
  color: #5c5c5c;
}
.dollar-text {
  font-family: Edmondsans;
  font-weight: 420;
  font-size: 25.4651px;
  text-transform: capitalize;
  color: #333333;
}
.lower button {
  outline: none;
  border: none;
  padding: 7px 10px !important;
  font-weight: 700;
  font-size: 12px;
  color: #ffffff !important;
  border-radius: 6px;
}
.lower .card-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 18px;
}
.lower .card-lower {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 15px;
  width: 33%;
}
footer {
  background: #1662da;
  height: 44px;
  margin-top: 35px;
}
.payout {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.check-text {
  font-size: 12px;
  font-family: Edmondsans;
  font-weight: 410;
  text-transform: capitalize;
}
.filter {
  border-radius: 4.03px;
  background: #fff;
  box-shadow: 0px 0px 27.40437126159668px 0px rgba(0, 0, 0, 0.05);
}
.date-btn {
  color: var(--blue-blue-600, #2563eb);
  text-align: center;
  font-size: 9.579px;
  font-weight: 600;
  text-transform: capitalize;
  padding: 2.774px 8.058px 3.089px 8.321px;
}
.date-btn:hover {
  border-radius: 3.017px;
  background: var(--blue-blue-50, #eff6ff);
}
.payout .card-wrapper {
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.paybtn {
  border-radius: 5.8px;
  background: #1662da;
  padding: 2px 4px;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-family: Quicksand;
  font-weight: 700;
  text-transform: capitalize;
  outline: none;
  border: none;
  width: 100%;
}
.green-btn {
  outline: none;
  border: none;
  padding: 7px 10px !important;
  font-weight: 700;
  font-size: 12px;
  color: #ffffff !important;
  border-radius: 6px;
}

.btn-wrapper {
  border-radius: 4.704px;
  border: 0.784px solid rgba(0, 0, 0, 0.1);
  padding: 2px 2px;
}
.checkbox-area {
  width: 100%;
}
.calender-area {
  width: 100%;
}

.calender {
  width: 75%;
}
.payout {
  width: 23.5%;
}

/* @media screen and (min-height: 1730px) {
  .pet-details .container > div.row:first-child {
    display: grid;
    place-content: center;
  }
} */
/* @media screen and (max-width:1742px) {
  .card-lower{
    width: 50%;
  }
} */
@media screen and (max-width: 768px) {
  .pet-details .card-wrapper {
    /* width: 48% !important; */
    flex: 0 0 100% !important;
  }
  .wrapper-container {
    flex-direction: column;
  }
  .card-lower {
    width: 100% !important;
    max-height: 600px !important;
  }
}
@media screen and (min-width: 1400px) {
  .pet-card {
    flex: 1 !important;
  }
}
@media screen and (max-width: 1400px) {
  .pet-details .card-wrapper {
    /* width: 48% !important; */
    flex: 0 0 48%;
  }
  .wave {
    right: -29px;
  }
  .calender {
    width: 100% !important;
  }
  .calender-payout .payout {
    width: 100%;
    margin: 0px !important;
  }
  .wrapper-container {
    display: flex;
    flex-wrap: wrap;
   column-gap: 1rem;
  }
  .payout .card-wrapper {
    flex: 1;
  }
}
@media screen and (min-width: 1700px) {
  .flex-equal {
    flex: 1 !important;
  }
}
@media screen and (min-width: 922px) {
  .sidebar-width {
    width: 16.5%;
  }
  .dashboard-width {
    width: 83.5%;
  }
}
@media screen and (max-width: 1760px) {
  .calender-area {
    order: 2;
    width: 100%;
  }
  .checkbox-area {
    order: 1;
    width: 100%;
  }
  .calender {
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 1740px) {
  .card-lower {
    flex: 1 !important;
  }
  .checkbox-area {
    width: 18.65%;
    order: 2;
  }
  .calender-area {
    width: 81.35%;
    order: 1;
  }
  .filter {
    display: block !important;
  }
  .w-nowrap {
    white-space: nowrap;
  }
  .lower .col-xxl-6{
    /* flex: 1; */
    width: 29% !important;
  }
}
@media screen and (max-width: 1874px) {
  .responsive-flex {
    justify-content: flex-start !important;
  }
}
